@{
    ViewBag.Title = "Dewey Decimal Classification system - replacing.";
}

<style>
    .replacing {
        height: 100%;
        padding-top: 25px;
    }

    .start-page {
        width: 100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .start-page .card {
        max-width: 300px;
        height: 500px;
        border-radius: 15px;
        background-color: #282828;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .start-page .card h3 {
        margin-bottom: 25px;
    }

    .start-page .card p {
        width: 100%;
        margin: 25px 0;
        text-align: center;
    }

    .start-page .card button {
        width: 100%;
        max-width: 150px;
        height: 50px;
        border-radius: 10px;
        margin: auto;
    }

    .game-page {
        position: relative;
        height: 100%;
    }

        .game-page .btn-back {
            width: 50px;
            height: 40px;
            background-color: #282828;
            border-radius: 10px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

            .game-page .btn-back:before {
                color: #d5d5d5;
            }

        .game-page .container {
            position: relative;
            display: flex;
            height: 95%;
            flex-direction: column;
            align-items: center;
            padding-top: 25px;
        }

            .game-page .container .timer {
                width: max-content;
            }

        .game-page .container .timer span {
            color: #d5d5d5;
            font-size: 40px;
        }

            .game-page .timer.active {
                animation: bounce 1s infinite;
                -moz-animation: bounce 1s infinite;
                -webkit-animation: bounce 1s infinite;
            }


        .game-page .books {
            max-width: 650px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;
            padding: 0;
            overflow-y: auto;
        }

            .game-page .books .listItem {
                max-width: 600px;
                width: 100%;
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }

                .game-page .books .listItem .list-container {
                    width: 100%;
                    height: 80px;
                    background: #c1cbd3;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px;
                    border-radius: 10px;
                    cursor: pointer;
                    pointer-events: none;
                    transition: background 0.1s ease-in-out;
                }

                .game-page .books .listItem .list-container {
                    pointer-events: none;
                }

                .game-page .books .listItem .list-container > * {
                    color: black;
                    pointer-events: none;
                }

                .game-page .books .listItem.over .list-container {
                    background: #989898;
                }

            .game-page .container .check-order {
                padding: 10px 15px;
                border-radius: 10px; 
            }


            /* timer animation keyframes*/
    @@keyframes bounce {
        0% { transform: scale(1); }
        50% { transform: scale(1.1); }
        100% { transform: scale(1); }
    }

    @@-moz-keyframes bounce {
        0% { transform: scale(1); }
        50% { transform: scale(1.1); }
        100% { transform: scale(1); }
    }

    @@-webkit-keyframes bounce {
        0% { transform: scale(1); }
        50% { transform: scale(1.1); }
        100% { transform: scale(1); }
    }
</style>

<section id="replacing" class="replacing">
   <!-- Loaded template --> 
</section>

<template id="start-page">
    <div class="start-page">
        <div class="card">
            <h3 class="heading">Welcome to the dewey decimal replacing training.</h3>
            <p class="sub-heading">In this training you will be timed to rearrage the elements in ascending order</p>
            <p class="sub-heading">When you are ready, select start</p>
            <button id="BtnStartGame" class="btn-primary">Start</button>
        </div>
    </div>
</template>

<template id="game-page">
    <div class="game-page">
        <i class="fa fa-arrow-left btn-back" onclick="showStartPage()"></i>
        <div class="container">
            <div id="timer" class="timer">
                <span id="minutes"></span>
                <span>:</span>
                <span id="seconds"></span>
                <span>:</span>
                <span id="miliseconds"></span>
            </div>
            <ul id="Books" class="books">
                <!-- sorting books get placed here -->
            </ul>
            <button class="btn-primary check-order">Check order</button>
        </div>
    </div>
</template>

<template id="success-page">
    <div class="success-page">
        <h1>You did it !</h1>
    </div>
</template>

<script>

    // interval timer
    let timer;
    // miliseconds times
    let miliseconds = 0;
    // holds book object type
    let books = [];
    // holds book html elements
    let bookItems = [];
    // holds the drag start item
    let dragStartItem = null;
    // holds the start index of drag events
    let dragStartIndex = 0;


    window.onload = (event) => {
        const currTemplate = document.getElementById("start-page").content.cloneNode(true);
        currTemplate.getElementById("BtnStartGame").onclick = (event) => {
            showGamePage();
        };
        document.getElementById("replacing").appendChild(currTemplate);
    };

    const showStartPage = () => {
        stopTimer();
        timer = 0;
        const temp = document.getElementById("start-page");
        const clon = temp.content.cloneNode(true);
        const bod = document.getElementById("replacing");

        clon.getElementById("BtnStartGame").onclick = (event) => {
            showGamePage();
        };

        bod.innerHTML = "";
        bod.appendChild(clon);
    }

    const showGamePage = async () => {
        const temp = document.getElementById("game-page");
        const clon = temp.content.cloneNode(true);
        const bod = document.getElementById("replacing");

        bod.innerHTML = "";
        bod.appendChild(clon);

        // fetch the collection of books
        books = await fetchRandomBooks();

        hydrateItems();
    }

    const showSuccessPage = () => {
        stopTimer();
        const temp = document.getElementById("success-page");
        const clon = temp.content.cloneNode(true);
        const bod = document.getElementById("replacing");
        bod.innerHTML = "";
        bod.appendChild(clon);
    }

    const hydrateItems = () => {
        const booksList = document.getElementById("Books");

        booksList.innerHTML = "";

        for (const [key, value] of Object.entries(books)) {
            const listItem = document.createElement('li');

            listItem.setAttribute('data-index', key);
            listItem.setAttribute('draggable', true);
            listItem.classList.add("listItem");
            listItem.classList.add("draggable");

            listItem.innerHTML = `
                <div class="list-container">
                    <h3 class="call-num">${value["callNumber"]}</h3>
                    <h4 class="author-firstname">${value["bookAuthorFirstName"]}</h4>
                    <h4 class="author-lastname">${value["bookAuthorLastName"]}</h4>
                </div>
            `;
            bookItems.push(listItem);
            booksList.appendChild(listItem);
        }

        // add drag event listeners
        addDragEventListeners();

        // start timer
        startTimer();
    }

    const startTimer = () => {

        // padding function
        const pad = (val) => {
            return val > 9 ? val : "0" + val;
        }

        const timeElem = document.getElementById("timer");
        const milis = document.getElementById("miliseconds");
        const seconds = document.getElementById("seconds");
        const minutes = document.getElementById("minutes");

        timeElem.classList.add("active");

        timer = setInterval(() => {
            miliseconds++;
            milis.innerHTML = pad(miliseconds % 100);
            seconds.innerHTML = pad(parseInt(miliseconds / 100, 10)%60);
            minutes.innerHTML = pad(parseInt(miliseconds / 6000, 10));
        }, 10);
    }

    const stopTimer = () => {
        const timeElem = document.getElementById("timer");
        timeElem.classList.remove("active");
        clearInterval(timer);
    }

    const fetchRandomBooks = async () => {
        let books = {};

        await fetch("/Replacing/GetReplacementBooks")
            .then(resp => resp.json())
            .then(data => books = data)
            .catch(err => {
                alert("Unable to pull book data");
                console.error(err);
                showStartPage();
            });

        return books;
    }

    const addDragEventListeners = () => {
        const dragParent = document.getElementById("Books");
        const dragItems = document.querySelectorAll(".draggable");

        dragParent.addEventListener('dragstart', dragStart);

        dragItems.forEach(elem => {
            elem.addEventListener('dragover', dragOver);
            elem.addEventListener('drop', dragDrop);
            elem.addEventListener('dragenter', dragEnter);
            elem.addEventListener('dragleave', dragLeave);
        });
    }

    // drag event handlers
    const dragStart = (e) => {
        // console.log("Event: drag start");
        dragStartItem = e.target.closest('li');
        dragStartIndex = dragStartItem.getAttribute('data-index');
    }
    const dragOver = (e) => {
      //  console.log("Event: drag over");
        e.preventDefault();
    }
    const dragDrop = (e) => {
        // console.log("Event: drag drop");
        const dragEndIndex = e.target.getAttribute('data-index');
        insertBook(dragStartIndex, dragEndIndex);
        e.target.classList.remove("over");
    }
    const dragEnter = (e) => {
        //console.log("Event: drag enter");
        e.target.classList.add("over");
    }
    const dragLeave = (e) => {
        //console.log("Event: drag leave");
        e.target.classList.remove("over");
    }

    // swaps book positions
    const insertBook = (startIndex, endIndex) => {
        const tempBook = books[endIndex];

        books[endIndex] = books[startIndex];
        books[startIndex] = tempBook;

        hydrateItems();
    }
</script>



