@{
    ViewBag.Title = "Dewey Decimal Classification system - replacing.";
}

@section Styles 
{
    <link href="@Url.Content("~/Content/Replacing.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Replacing.js")"></script>
}

<script>
    window.onload = (event) => {
        const currTemplate = document.getElementById("start-page").content.cloneNode(true);
        currTemplate.getElementById("BtnStartGame").onclick = (event) => {
            showGamePage();
        };
        document.getElementById("replacing").appendChild(currTemplate);
    };
</script>


<section id="replacing" class="replacing">
    <!-- Loaded template goes here -->
</section>

<template id="start-page">
    <div class="start-page">
        <div class="card">
            <h3 class="heading">Welcome to the dewey decimal replacing training.</h3>
            <p class="sub-heading">In this training you will be timed to rearrage the elements in ascending order</p>
            <p class="sub-heading">When you are ready, select start</p>
            <button id="BtnStartGame" class="btn-primary">Start</button>
        </div>
    </div>
</template>

<template id="game-page">
    <div class="game-page">
        <i class="fa fa-arrow-left btn-back" onclick="showStartPage()"></i>
        <div class="container">
            <div id="timer" class="timer">
                <span id="minutes"></span>
                <span>:</span>
                <span id="seconds"></span>
                <span>:</span>
                <span id="miliseconds"></span>
            </div>
            <p class="sub-heading">Incorrect order</p>
            <ul id="Books" class="books">
                <!-- categories and descriptions get placed here -->
            </ul>
            <button id="BtnCheckOrder" class="btn-primary check-order">Check order</button>
        </div>
    </div>
</template>

<template id="success-page">
    <canvas class="confetti" id="canvas"></canvas>
    <div class="success-page">
        <div class="card">
            <h3 class="heading">Well done you did it!</h3>
            <div id="timer" class="timer heading">
                <span id="minutes"></span>
                <span>:</span>
                <span id="seconds"></span>
                <span>:</span>
                <span id="miliseconds"></span>
            </div>
            <div id="SubmitTime" class="submit-time-container">
                <p class="sub-heading">Submit your time and see how you compared to others</p>
                <label id="NameLbl" for="Name" class="sub-heading">Enter your name</label>
                <input id="Name" type="text" class="input" />
                <button id="BtnSubmit" class="btn-primary">Submit</button>
            </div>
            <div id="DisplayTime" class="display-time-container" style="display: none">
                <p class="sub-heading">You ranked:</p>
                <p id="Score" class="heading">
                    <!-- Rank goes here -->
                </p>
            </div>
            <button id="BtnStartGame" class="btn-primary">Retry</button>
        </div>
    </div>
</template>
